.menuContainer {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.menuHeader {
  padding-top: 32px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 12px;
  background-color: #fff;
  padding-left: 24px;
}

@media screen and (min-width: 768px) {
  .menuHeader {
    text-align: center;
    margin-bottom: 24px;
    padding-left: 0;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  list-style-type: none;
}

.addGroupBtn {
  background-color: rgb(22, 0, 139);
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 500;
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  position: absolute;
  right: 24px;
  bottom: 24px;
}
