.container {
  background-color: var(--BG-COLOR);
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.main {
  width: 450px;
  text-align: center;
}

.img {
  width: 400px;
  margin: auto;
  display: block;
}

.description {
  margin-top: 10px;
  line-height: 1.5;
}

.lockIcon {
  height: 16px;
  width: 16px;
  fill: #000;
}

.encryption {
  display: flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
