.header {
  background-color: var(--PRIMARY-COLOR);
  color: #ffffff;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.backBtn {
  height: 15px;
  color: #ffffff;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.notesContainer {
  background-color: var(--BG-COLOR);
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.notes {
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: flex-end;
}
